$img-path: '~patternfly/dist/img/';
$font-path: '~patternfly/dist/fonts/';
$icon-font-path: '~patternfly/dist/fonts/';

@use '~patternfly/dist/sass/patternfly';
@use '~patternfly-react/dist/sass/patternfly-react';
@use '~font-awesome-sass/assets/stylesheets/_font-awesome';
